services:
  server_tls:
    build: ./server_tls
    hostname: server_tls
    container_name: server_tls
    networks:
      pki-net:
        ipv4_address: 172.20.0.3


  server_mtls:
    build: ./server_mtls
    hostname: server_mtls
    container_name: server_mtls
    networks:
      pki-net:
        ipv4_address: 172.20.0.4

  client:
    build: ./client
    hostname: client
    container_name: client
    networks:
      pki-net:
        ipv4_address: 172.20.0.2
    # Next two settings keep container running, necessary for Wireshark capture
    stdin_open: true
    tty: true
    

networks:
  pki-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24

